	/*
	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}
	.summary {
		display: none;
	}
	.memitem {
		page-break-inside: avoid;
	}
	#doc-content {
		margin-left: 0 !important;
		height: auto !important;
		width: auto !important;
		overflow: inherit;
		display: inline;
	}
}

/* @group Markdown */
	/*
table.markdownTable {
	border-collapse:collapse;
        margin-top: 4px;
        margin-bottom: 4px;
}

table.markdownTable td, table.markdownTable th {
	border: 1px solid #2D4068;
	padding: 3px 7px 2px;
}

table.markdownTableHead tr {
}

table.markdownTableBodyLeft td, table.markdownTable th {
	border: 1px solid #2D4068;
	padding: 3px 7px 2px;
}

th.markdownTableHeadLeft th.markdownTableHeadRight th.markdownTableHeadCenter th.markdownTableHeadNone {
	background-color: #374F7F;
	color: #FFFFFF;
	font-size: 110%;
	padding-bottom: 4px;
	padding-top: 5px;
}

th.markdownTableHeadLeft {
	text-align: left
}

th.markdownTableHeadRight {
	text-align: right
}

th.markdownTableHeadCenter {
	text-align: center
}
*/

/* @end */

/*
.search {
	color: #003399;
	font-weight: bold;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}

input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #e8eef2;
}
*/
/*.memproto td, .memproto tbody,  {
	display: inline-block;
	max-width: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.memtemplate {
	display: block;
}

.memproto table, tr.memproto {
	table-layout: fixed;
	display: inline-block;
	max-width: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
}*/